---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post, Project } from "@/types";
import ProjectPreview from "@/components/ProjectPreview";

const meta = {
	title: "Home",
	description: "Current projects, blog posts, and other stuff.",
};

const MAX_POSTS = 10;
const MAX_PROJECTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allProjects = await Astro.glob<Project>("./projects/*.mdx");
const allProjectsByDate = sortMDByDate(allProjects).slice(0, MAX_PROJECTS);
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Hi, my name is Kole.</h1>
		<p class="mb-4">
			Long-time creator of one-offs, experiments, and software solutions.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<section aria-label="Project list" class="mt-16">
		<h2 class="mb-4 text-xl title">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allProjectsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<ProjectPreview project={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
