---
import ThemeToggle from "./ThemeToggle.astro";
import koleFace from "../assets/kole-face.svg";
const url = new URL(Astro.request.url);
---

<header>
	<span>
		<a
			href="/"
			class="logo"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<img src={koleFace} alt="logo" />
			<span>kole_creates</span>
		</a>
		<nav id="navigation-menu" aria-label="Main">
			<a href="/" aria-current={url.pathname === "/" ? "page" : false}>Home</a>
			<a
				href="/projects"
				aria-current={url.pathname === "/projects" ? "page" : false}
				>Projects
			</a>
			<a href="/posts" aria-current={url.pathname === "/posts" ? "page" : false}
				>Posts
			</a>
		</nav>
	</span>
	<ThemeToggle />
</header>

<style>
	header {
		@apply relative z-50 mb-28 flex items-center sm:pl-[4.5rem];

		.logo {
			@apply inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block;

			img {
				@apply mr-4 h-10 w-10 sm:absolute sm:left-[-6rem] sm:top-[-0.5rem] sm:mr-0 sm:h-20 sm:w-20 sm:scale-[80%];
			}

			> span {
				@apply text-xl font-bold sm:text-2xl;
			}
		}

		nav {
			@apply mt-1 -ml-4 flex divide-x divide-dashed divide-accent text-accent;

			a {
				@apply px-4 hover:underline;
			}
		}
	}
</style>
